fastapi
uvicorn
streamlit

langchain
langchain-community
langchain-text-splitters

sentence-transformers

faiss-cpu

pypdf
docx2txt

pillow
pytesseract

python-dotenv
python-multipart

requests
groq